<table mat-table [dataSource]='paginator.dataSource'>
    <ng-container matColumnDef='name'>
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef='let element'> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef='ref'>
        <th mat-header-cell *matHeaderCellDef> Identifiant </th>
        <td mat-cell *matCellDef='let element'> {{element.ref}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef='teamMembersColumns'></tr>
    <tr mat-row *matRowDef='let row; columns: teamMembersColumns;'></tr>
</table>
<tzr-infinite-paginator #paginator [dataService]='dataService'></tzr-infinite-paginator>


<!-- <div style="display: flex; justify-content: center; background-color: red;">
    <tzr-cmp-solo-pricing link="http://google.fr" btnText="Hello World" (planClicked)="alert('solo selected');">
    </tzr-cmp-solo-pricing>

    <tzr-cmp-team-pricing btnText="Choisir ce plan" (planClicked)="alert('team selected');">
    </tzr-cmp-team-pricing>

    <tzr-cmp-enterprise-pricing btnText="Bientot disponible"></tzr-cmp-enterprise-pricing>

</div> -->


